/*EJERCICIO 4*/
body {
    counter-reset: num 0;
}

h2::before {
    content: "Capitulo  " counter(num) ": ";
    counter-increment: num;
    color: blue;
}

h2 {
    counter-reset: num1 0;
}

h3::after {
    content: " - Subseccion " counter(num) "." counter(num1);
    counter-increment: num1;
    color: green;
    font-style: italic;
}
















